{% extends 'base.html' %}
{% load static %}

{% block styles %}
{% endblock %}

{% block title %}
Информация
{% endblock %}

{% block body %}
  <div>
    <p>{{ class.name }}</p>

    {% for student in class.students.all %}
        <p>{{ student.firstname }} {{ student.lastname }}</p>
        <a href="{% url 'student_rewards' class.pk student.pk %}"><input type="submit" value="список наград"></a>
    {% endfor %}

    <br>
    <br>
    <form action="{% url 'add_student_to_class' class.pk %}" method="POST">
      {% csrf_token %}
      <label for="student_id">ID ученика</label>
      <input type="number" name="student_id">
      <button>
        добавить в класс
      </button>
    </form>
    <br>

    <a href="{% url 'classes' %}"><input type="submit" value="Назад" class="button"></a>
  </div>
{% endblock %}
